<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Play with Header on Page Transitions </title>
  <link href="https://fonts.googleapis.com/css?family=Trocchi|Anton" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div :class="['bg', bg]">
    <header>
      <nav>
        <ul>
          <li><a class="link-bio" href="#bio" @click="bg = 'bio'">Bio</a></li>
          <li><a class="link-projects" href="#projects" @click="bg = 'projects'">Projects</a></li>
          <li><a class="link-find-me" href="#findme" @click="bg = 'find-me'">Find Me</a></li>
        </ul>
      </nav>
      <div class="transition transition-bio"></div>
      <div class="transition transition-projects"></div>
      <div class="transition transition-find-me"></div>
      <h1>Header</h1>
    </header>
    <div class="dots dots1"></div>
    <div class="dots dots2"></div>
    <main>
      <transition name="slide-fade" mode="out-in">
        <p key="bio" v-if="bg==='bio'">Hi! I'm a bio page.</p>
        <p key="projects" v-if="bg==='projects'">This is a projects page.</p>
        <p key="find-me" v-if="bg==='find-me'">See <a href="#" target="_blank" rel="noopener"></a> </p>
      </transition>
    </main>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
